<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Post</title>
  </head>
  <body>
    <h1>Edit Post</h1>
    <form method="post" action="/posts/<%= @post.id %>">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label for="name">Name</label>
      <h2>Name: <input value="<%= @post.name %>" type="text" name="name"></h2>
      <label for="content">Content</label>
      <h2>Content: <input value="<%= @post.content %>" type="text" name="content"></h2>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
